* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1;
  background-color: lightslategray; 
  color:black;
  margin-top: 0px;
}


.container {
  max-width: 450px; 
  max-height: 700px;
  margin: 0 auto; 
  padding: 20px; 
}


.card {
  border: 3px solid black; 
  border-radius: 15px; 
  margin: 30px 0; 
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1); 
  background-color: white;
  transition: box-shadow 0.3s; 
}
.image-box {
  width: 90px; 
  height: 90px; 
  margin-left: 300px; 
  margin-top: 10px;
  background-size: cover; 
  background-position: center; 
  border-radius: 4px; 
  border: 3px solid black;
  position: relative;
 
}
.logo {
  width: 60px; 
  height: 60px; 
  position: absolute; 
   
  right: 5px; 
  background-size: cover; 
  background-position: center; 
  border-radius: 4px; 
 margin-top: 0px;
  margin-right: 300px;
}




.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


h1 {
  font-size: 1.0rem; 
  margin: 4px 0 0 10px; 

 
}

h3 {
  margin: 4px 0 5px 10px; 
  font-size: 1rem;
}
.text-blue {
  color: darkblue; 
 
}